<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.tourmates.article.repository.ArticleMapper">
    <resultMap id="article" type="Article">
        <id column="article_id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="hit" property="hit"/>
        <association property="member" javaType="Member">
            <id column="member_id" property="id"/>
        </association>
    </resultMap>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into article(title, content, member_id)
        values (#{title}, #{content}, #{member.id})
    </insert>

    <select id="findById" resultMap="article">
        select *
        from article
        where article_id = #{articleId}
    </select>

    <select id="findAll" resultMap="article">
        select *
        from article
    </select>

    <select id="findByCondition" resultMap="article">
        select *
        from article
        <where>
            <if test="keyword != null">
                and title = #{keyword}
            </if>
        </where>
        <if test="sorted == 1">
            order by created_date desc
        </if>
        <if test="sorted == 2">
            order by hit desc
        </if>
    </select>

    <update id="update">
        update article
        set title   = #{title},
            content = #{content}
        where article_id = #{id}
    </update>

    <delete id="delete">
        delete
        from article
        where article_id = #{articleId}
    </delete>
</mapper>