<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.tourmates.article.model.repository.ArticleMapper">
  <insert id="save" useGeneratedKeys="true" keyProperty="id">
    insert into article(title, content, member_id)
    values (#{title}, #{content}, #{member.id})
  </insert>

  <update id="update">
     update article
     set title = #{title},
         content = #{content}
     where article_id = #{id}
  </update>

  <delete id="delete">
    delete from article
    where article_id = #{articleId}
  </delete>
</mapper>