<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.tourmates.article.repository.ArticleMapper">
    <resultMap id="article" type="Article">
        <id column="article_id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="hit" property="hit"/>
        <result column="tag" property="tag"/>
        <result column="created_date" property="createdDate"/>
        <result column="last_modified_date" property="lastModifiedDate"/>
        <association property="member" javaType="Member">
            <id column="member_id" property="id"/>
        </association>
    </resultMap>

    <resultMap id="articleView" type="Article">
        <id column="article_id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="hit" property="hit"/>
        <result column="tag" property="tag"/>
        <result column="created_date" property="createdDate"/>
        <result column="last_modified_date" property="lastModifiedDate"/>
        <association property="member" javaType="Member">
            <id column="m.member_id" property="id"/>
            <result column="nickname" property="nickname"/>
        </association>
    </resultMap>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into article(title, content, tag, member_id)
        values (#{title}, #{content}, #{tag}, #{member.id})
    </insert>

    <select id="findById" resultMap="article">
        select *
        from article
        where article_id = #{articleId}
    </select>

    <select id="findAll" resultMap="article">
        select *
        from article
    </select>

    <select id="findDetailById" resultMap="articleView">
        select *
        from article a
        join member m
        on a.member_id = m.member_id
        where a.article_id = #{articleId};
    </select>

    <select id="findByCondition" resultMap="articleView">
        select *
        from article a
        join member m
        on a.member_id = m.member_id
        <where>
            <if test="condition.keyword != null">
                and a.title like concat('%', #{condition.keyword}, '%')
            </if>
        </where>
        <if test="condition.sorted == 1">
            order by a.created_date desc
        </if>
        <if test="condition.sorted == 2">
            order by a.hit desc
        </if>
        limit #{pageNum}, #{amount}
    </select>

    <select id="findByConditionAndMemberId" resultMap="articleView">
        select *
        from article a
        join member m
        on a.member_id = m.member_id
        where a.member_id = #{memberId}
        limit #{pageNum}, #{amount}
    </select>

    <select id="findCountAll" resultType="integer">
        select count(article_id)
        from article
    </select>

    <update id="update">
        update article
        set title   = #{title},
            content = #{content},
            hit = #{hit}
        where article_id = #{id}
    </update>

    <delete id="delete">
        delete
        from article
        where article_id = #{articleId}
    </delete>
</mapper>