<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.tourmates.attractionInfo.repository.AttractionInfoMapper">


    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into attraction_info(sido_code2, gugun_code2, content_type_id, title, addr1, addr2, zipcode, tel, first_image, first_image2, readcount, latitude, longtitude)
        values (#{attractionInfo.sidoCode2},  #{attractionInfo.gugunCode2}, #{attractionInfo.contentTypeId}, #{attractionInfo.title}, #{attractionInfo.addr1},
                #{attractionInfo.addr2}, #{attractionInfo.zipcode}, #{attractionInfo.tel}, #{attractionInfo.firstImage}, #{attractionInfo.firstImage2}, #{attractionInfo.readCount},
                #{attractionInfo.latitude}, #{attractionIfno.longtitude})
    </insert>

    <select id = "findById">
        select *
        from attraction_info
        where content_id = #{id}
    </select>

    <update id = "update">
        update attraction_info
        set sido_code2 = #{attractionInfo.sidoCode2},
            gugun_code2 = #{attractionInfo.gugunCode2},
            content_type_id = #{attractionInfo.contentTypeId},
            title = #{attractionInfo.title},
            addr1 = #{attractionInfo.addr1},
            addr2 = #{attractionInfo.addr2},
            zipcode = #{attractionInfo.zipcode},
            tel = #{attractionInfo.tel},
            first_image = #{attractionInfo.tel},
    </update>

</mapper>