<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.tourmates.notice.repository.NoticeMapper">

  <insert id="save" useGeneratedKeys="true" keyProperty="id">
    insert into notice(title, content, top, created_by, last_modified_by)
    values (#{notice.title}, #{notice.content}, #{notice.top}, #{notice.createdBy.id}, #{notice.lastModifiedBy.id})
  </insert>

  <select id="findById" resultType="com.ssafy.tourmates.notice.Notice">
    select *
    from notice
    where notice_id = #{noticeId}
  </select>

  <update id="update">
    update notice
    set title   = #{notice.title},
        content = #{notice.content},
        top     = #{notice.top}
    where notice_id = #{notice.noticeId}
  </update>

  <delete id="deleteById">
    delete
    * from notice where notice_id =
    #{noticeId}
  </delete>
</mapper>